# SPDX-License-Identifier: MIT OR Apache-2.0
# Copyright (c) 2026 Richard Majewski - Varanid Works

[package]
name = "REPLACE_ME"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"

[dependencies]
